[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpraw = "*"
"discord.py" = {version = "==2.0.0", extras = ["voice"]}
streamlink = "==2.3.0"
yt-dlp = "*"
asyncpg = ">=0.24.0"
python-dotenv = "*"
packaging = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
furo = "*"
sphinx-autobuild = "*"
sphinx-copybutton = "*"
sphinx-inline-tabs = "*"
sphinx-intl = "*"
Sphinx = "*"

[requires]
python_version = "3.8"
